.shop-account{
    /* margin-top: 4rem; */
    width:100%;
    gap: 20px;
}




.btn-save{
    appearance: button;
    background-color: var(--secondory2);
    /* background-color: var(--primary); */
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    /* width: 100%; */
}

.btn-save:after {
  background-clip: padding-box;
  background-color: var(--secondory3);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-save:main,
.btn-save:focus {
  user-select: auto;
}

.btn-save:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn-save:disabled {
  cursor: auto;
}



/**************************/

.btn-edit{
    appearance: button;
    /* background-color: #2db12d; */
    /* background-color: var(--primary); */
    background-color: var(--secondory3);


    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0px 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    /* width: 100%; */
}
.btn-edit:after {
  background-clip: padding-box;
  background-color: var(--secondory2);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-edit:main,
.btn-edit:focus {
  user-select: auto;
}

.btn-edit:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn-edit:disabled {
  cursor: auto;
}

.width-100-px {
  /* width: min-content; */
  width: 100px;
}













