.shop-info-code-poster{
    /* background:var(--secondory); */
    display:flex;
    gap: 3rem;
    width:fit-content;
    margin:auto auto ;
    margin-bottom:2rem;
    padding:5px;
    /* color:white; */
    /* border-radius:5px; */
    border-bottom:2px solid var(--primary);
    align-items:center;
}
.shop-info-code-poster h3{
    margin:0px;
    padding:0px
    
}
/* .shop-info-code-poster button{
    border-radius: 10px;
    padding:10px;
    background:var(--yellow);

} */
.shop-info{
    background-color: whitesmoke;
    padding-top:3rem;
    padding-bottom:3rem;
    border-radius:1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: auto auto;
    
}
.shop-info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.shop-info-row img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
.shop-info-column{
    width: 30%;
    justify-content: space-around;
    margin: auto auto;
    
}
.shop-info-row h5{
    /* width: fit-content; */
    margin: 15px auto;  
}

/* .form-control[type=file]{
    width: 250px;
    height: 250px;
} */
.shop-info-modal-img{
    height: 150px;
    width: 150px;
    /* object-fit: cover;  */
    object-fit: contain; 

    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 1rem 1rem;
}
.validationProfileImage{
    width: 33%;
    margin: auto auto;
    text-align: center;
}


/**************************  Poster   ******************************/
canvas{
    background: linear-gradient(
        to right,
        var(--primary) 10%,
        white 10% 40%,
        white 40% 60%,
        white 60% 90%,
        var(--primary) 90%
      );

    /* box-shadow: 0 2px 10px #cfcc04; */
     
}
.modal-boday-poster{
    display: flex;
    flex-direction: column;
    gap:1rem;
    max-width: 550px;
    justify-content: center;
    margin: auto auto;
}
.modal-boday-poster button{
    max-width: 400px;
    margin: auto auto;
}