/* .payment-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .payment-container  .payment-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .payment-container  .payment-form {
    display: flex;
    flex-direction: column;
  }
  
  .payment-container  .form-group {
    margin-bottom: 20px;
  }
  
  .payment-container  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .payment-container  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .payment-container  .submit-button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .payment-container  .submit-button:hover {
    background-color: #0056b3;
  }
   */

   .App-payment{
    
    background-color: whitesmoke;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 1px 10px black;
    margin: auto auto;
   }

   .App-payment .form-group small{
    display: block;
    text-align: start;
    padding-left: 3px;
    padding-top: 5px;
   }

   .expiry-cvc{
    display: flex;
    justify-content: space-between;
   }

   .App-payment .form-group input:focus{
    box-shadow:0 2px 10px  var(--primary);
}