.create-account{
    display: flex;
    background-color: white;
    padding-top:0rem;
    padding-bottom:3rem;
    border-radius:1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
}

.create-account-fields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   width: 50%;
    /* margin: auto; */
}

.create-account-fields .input-field{
    min-width: 400px;
    max-width: 400px;
    margin: auto;

}

.create-account-image{
    width: 50%;
    margin: auto auto;
}

.create-account-image img{
    width: fit-content;
}