
/* make variables */
:root {
  /* --primary: #B753E6; */
  --primary: #6936F5;
  /* --secondory: #A6ACEC;
  --secondory2: #3f4bd3;
  --secondory3: #575fb3; */
  --secondory: #8c63fd;
  --secondory2: #5011fc  ;
  --secondory3: #8055f8  ;

  --yellow:#F5D736 ;
  --orange: #f48915;
  --blue:#0077e6;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor:  #3c3f45;
}

.App {
  text-align: center;
}


/****************** scrollbar ************************/

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  opacity: 0.8;

  background-color: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: var(--secondory); */
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scrollbar-thumb:hover {
  background-color: #555;
}


/******************************************/

.btn-primary{
  background-color: var(--primary);
  color: white;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  border-color: var(--secondory);
  transition: 0.15s;
}
.btn-primary:hover{
  opacity: 0.9;
  scale: 1.01;

}

.btn-secondary{
  background-color: var(--secondory);
  color: white;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  border-color: var(--secondory3);
  transition: 0.15s;
}
.btn-secondary:hover{
  opacity: 0.8;
  scale: 1.01;
}


.btn-radio{
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.6rem 2rem 0.5rem 2rem;
  margin: 0rem 0.5rem 5rem;
  border-radius: 0 0 1rem 1rem;
  font-size: 18px;
  cursor: pointer;
  transition:  0.4s ease;

}
.btn-radio:hover{
  scale: 1.03;
  background-color: var(--secondory);
  box-shadow: 0px 5px 5px var(--primary);
}

.btn-radio-selected{
  scale: 1.03;
  background-color: var(--secondory);
  box-shadow: 0px 5px 5px var(--secondory2);
}



/***************************   Table  *****************************/
.table-container {
  max-width: 90%;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.table-container  h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.table-container .tables-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.table-container .table {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.tbody-today-tomorrow{
  max-height: 30px;
  background-color: #6936F5;
  overflow-y: hidden;
}

.table-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;

}

.table-container th {

  background-color: #6936F5;
  color: white;
  
  font-weight: bold;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table-container button {
  background-color: #6936F5;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.table-container button:hover {
  background-color: #A6ACEC;
}

.table-header button{
  
    position: sticky;
    left: 85%;

}

@media (max-width: 768px) {
  .tables-container {
    grid-template-columns: 1fr;
  }
}


/***************************   Side Bar  *****************************/

.sidebar{
  /* display: fixed; */
  /* position:inherit ; */
  position:fixed ;
  margin-top: 65px;
  width: 250px;
  background-color: var(--primary);

  color: white;
  /* height: 90vh;
  max-height: 95vh; */
  height: -webkit-fill-available;
  /* padding-bottom: 20vh;
  margin-bottom: 10vh; */
}
.sidebar .nav-link{

  display: flex;
  color: white;
  /* background-color: var(--secondory); */
  border-radius: 0 2rem 2rem 0;

  text-align: start;
  font-size: 18px;
  align-items: center;
}
.sidebar-icon{
  margin-right: 10px;
  align-items: center;
}

.sidebar .nav-link:hover{
  color: #ccc;
  background-color: var(--secondory);
  border-radius: 0 2rem 2rem 0;

}
.sidebar .active{
  color: #fff;
  background-color: var(--secondory);
  border-radius: 0 2rem 2rem 0;
}
.sidebar .nav-link:focus{
  color: #fff;

}
.sidebar-bottom{
  width: 240px;
  
  position: absolute;
  bottom: 15px;
  /* padding-bottom: 10vh; */

}