/**** NavPersonal ****/
.navPersonal{
    padding: 1rem;
}
/********************/



/**** New Booking ****/
.new-booking{
    display: flex;
}
.left-side{
    width: 33%;
    /* background-color: wheat; */

}
.search-favrotites{
    background-color: none;
}
.btn-search{
    padding: 5px !important;
    margin: 1rem;
    
    border-radius: 0.5rem;
}
.btn-favorite{
    padding: 5px !important;
    margin: 1rem;
    border-radius: 0.5rem;

}
.search{
    background: none;
}
.search-input{
    padding: 5px;;
    border-radius: 0.5rem;
    border-color: var(--primary);
}
.serach-icon{
    background: none;
    border-radius: 50%;
    scale:1.5;
    margin-left: 0.5rem;
    border: none;
}

.favorite{
    margin: 1rem 1rem;
}
#dropdown-basic-button{
    background-color: var(--primary);
    border-color: var(--secondary);
    width: 200px;
    gap: 1rem;
}
.store-info img {
    margin-top: 2rem;
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
}
.add-to-favorite{
    border-radius: 0.5rem;
    border-color: var(--primary);
    background: none;
    font: bold;
}


.right-side{
    width: 60%;
    height: 70vh;
    /* background-color: aqua; */
    border:5px solid var(--primary);
    border-radius: 1rem;
    padding: 1rem;
}
/********************/



/******* Step1 *******/
.list-of-services{
    max-height: 40vh;
    overflow-y: auto;
    width: 400px;
}
.item-service{
    width: 350px;
    margin:5px 5px;
    padding: 5px 5px;
    background-color: #e0e0e0;
    justify-content: center;
    align-items: center;
    border-radius:0.5rem ;
    cursor: pointer;
    transition: 0.4s;
}
.selected-service{
    background-color: var(--secondory);
}
.item-service span{
    font-size: 18px;
}
/********************/

